// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$light-gray: #F4F4F4;
$my-yellow:#F9F7CF;
$my-mustard: #E4DE5F;
$my-lilac: #EAE7FD;
$my-green: #DBF1C5;
$my-blue: #DAECF9;
$my-navy: #0E3959;
$my-neutral: #F9F9F9;
