// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$coursera: #0056d2;
$udemy: #D8373F;
$codecademy: #4F00DD;

$light-gray: #F4F4F4;
$my-yellow:#F9F7CF;
$my-mustard: #E4DE5F;
$my-lilac: #EAE7FD;
$my-dark-lilac: #4231b6;
$my-green: #DBF1C5;
$my-blue: #DAECF9;
$my-navy: #0E3959;
$my-neutral: #F9F9F9;
$my-dark-green: #355c0d;
$my-dark-yellow:#968f08;

$rand-pastel-1: $my-yellow;
$rand-pastel-2: $my-lilac;
$rand-pastel-3: $my-green;
$rand-pastel-4: $my-blue;
$rand-dark-1: $my-dark-yellow;
$rand-dark-2: $my-dark-lilac;
$rand-dark-3: $my-dark-green;
$rand-dark-4: $my-navy;
