
.righ {
    top:10vh;
}
.chat-header {
    height:8vh;
    padding: 10px;
    border-bottom: 4px solid $light-gray;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px;



    img {
      float: left;
    }

    .chat-about {
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
text-align: center;
      width:100%;
      margin-right:auto;
      margin-left:auto;
    }

    .chat-num-messages {
      color: $gray;
    }

  }

div.chat-message{
    border-bottom-left-radius: 25px !important;
    border-bottom-right-radius: 25px;
}

ul {    list-style-type: none;
}
.chat {
     background-color:white;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px !important;
    border-bottom-right-radius: 25px;
}
.chat {

  height:615px;
  margin-top:30px;
  margin-left: 150px;
  width: 500px;
  float:left;
  // box-shadow:var(--box-shadow);

  color: #434651;



  .chat-history {
    height: 50vh;
      overflow: scroll;

    padding: 30px 30px 20px;
    overflow-y: scroll;

    .message-data {
      margin-bottom: 5px;
    }

    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }

    .message {
      color: white;
      padding: 15px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 15px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;


    }

    .my-message {
      background: $my-mustard;
      color: $my-navy;
    }

    .other-message {
      background: $my-blue;
      color: $my-navy;
    }

  }



  .chat-message {
    // height:20vh;

    padding: 10px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;






  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }

.other {
  color: $my-mustard;
}



.me {
  color: $my-blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

   // .textarea input {
   //    width: 680px;
   //    border: none;
   //    padding: 10px 20px;
   //    font: 14px/22px "Lato", Arial, sans-serif;
   //    margin-bottom: 10px;
   //    border-radius: 5px;
   //    resize: none;

    // }

#chat_message {
width:480px;
height: 12vh;
border: 2px solid $light-gray;
}


.chat-botton{
  z-index: 100;
  position: absolute;
  bottom:305px;
  right: 110px;
  font-size:15px;
  padding: 7px !important;
  background: $my-blue;
  border-radius:5px !important;
  text-transform: uppercase;
  color: darken($my-blue,50%);

  &:hover {
    background:  darken($my-blue,20%);
    color:white;
  }

}
