.courses-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.post > a {
  color: $my-navy !important;
  text-decoration:none;
}

.post {
  color: my-navy !important;
  display: block;
  margin-bottom: 16px;
  border-radius:5px;
  display: flex;
  flex-orientation:vertical;
  text-decoration: none;
  color: inherit;
  width: 500px;
  position: relative;
  padding: 1rem;
  background-color: white;
  cursor: pointer;
  &:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #EAE7FD;
    border-radius:5px;
    transform-origin: 0 bottom 0;
    transform: scaleY(0);
    transition: .4s ease-out;
  }
  .post-top {
    width:468px;
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
  }
  ul.aa {
    list-style-type: none;
  }
  &:hover {
    .post-text {
      color: $my-navy;
    }
    &:before {
      transform: scaleY(1);
    }
  }
}

.courses-container > ul {
  list-style-type:none;
}

.post-text {
  position: relative;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.333;
  transition: .4s ease-out;
}

.post-link, .post-top {
  position: relative;
  line-height: 1.333;
  transition: .4s ease-out;
}

.post-pop {
  background-color: $my-yellow;
  color: $my-dark-yellow;
  border-radius: 20px;
  padding: 6px 6px;
  font-size: 10px;
  font-weight: 400;
}

.post-cat {
  background-color: $my-green;
  color: $my-navy;
  border-radius: 20px;
  padding: 6px 6px;
  font-weight: 400;
  font-size: 10px;
}

.weblink {
  color: $my-navy;
}

.weblink:hover{
  text-decoration: none;
  color: $my-navy;
}
