.dashboard-container {
    display: flex;

}

.team-dashboard {

 display: flex;
 // height: 100vh;
 overflow: hidden;
 margin: 0 auto;
 color:$my-navy;

}

.team-description {
 padding: 40px;
 width: 500px;
 // margin-bottom:75px;

 justify-content:space-between;
 display: flex;
 flex-direction: column;
 flex-shrink: 0;
 overflow: auto;
}

#team-participants-lg {
  bottom-margin:50px;
}

.team-meeting{
  box-shadow:var(--box-shadow);

  margin-top:25px;
  padding:25px;
  background-color: white;
  justify-content:space-between;
 display: flex;
   &:hover {
    transform: scale(1.025);
    transition-duration:0.3s;
  }

}


.sticky-notes {
 width: 550px;

 display: flex;
 flex-direction: column;
 flex-shrink: 0;
 overflow: auto;
}
