.home-body{
  background: linear-gradient(180deg,  $my-blue, $light-gray, $my-yellow, $my-mustard);
background-size: 400% 400%;
  animation: sunrise 20s ease infinite;}


  @keyframes sunrise {
  0% {
    background-position:  50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position:  50% 0%;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba(1,1,1,0.2) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity:  1 !important;
  color: rgba(1,1,1,0.2) !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity:  1 !important;
  color: rgba(1,1,1,0.2) !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(1,1,1,0.2) !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(1,1,1,0.2) !important;
}

::placeholder { /* Most modern browsers support this now. */
  color: rgba(1,1,1,0.2) !important;
}

.home {
  padding: 75px;
}

.home > p {
  margin-top:20px;
  margin-bottom:20px;

}

.searchbox {
  background-color:white;
  border-color: white;
}

.search-bar {
  // padding:5px;
  background-color:white;
  display:flex;
  justify-content:space-between;

}

.searchbox:focus {
  // padding:5px;

  background-color: solid white !important;

}
