.homepage#page-container{
  background: linear-gradient(180deg,  #FFEDE3, #FFF5F0, $my-lilac, #FFF5F0,  #FFEDE3,);
  background-size: 1600% 1600%;
  animation: sunrise 20s ease infinite;
}

.home-welcome{
  font-size: 50px;
  font-weight: 600;
  font-family: 'Roboto';
}
  @keyframes sunrise {
  0% {
    background-position:  50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position:  50% 0%;
  }
}
div#banner-text{
  max-width:566px;
    word-wrap: break-word;
    p{
      font-weight:400;
    }

}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba(1,1,1,0.2) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity:  1 !important;
  color: rgba(1,1,1,0.2) !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity:  1 !important;
  color: rgba(1,1,1,0.2) !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(1,1,1,0.2) !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(1,1,1,0.2) !important;
}

::placeholder { /* Most modern browsers support this now. */
  color: rgba(1,1,1,0.2) !important;
}

.home {
  padding-top:250px;
  //padding: 40px 75px;
}

.home > p {
  margin-top:20px;
  margin-bottom:20px;

}

.searchbox {
  background-color:white;
  border-color: white;
}

.search-bar {
  // padding:5px;
  background-color:white;
  display:flex;
  justify-content:space-between;

}

.searchbox:focus {
  // padding:5px;

  background-color: solid white !important;

}

.row-home {
  display: flex;
  align-items: center;
  justify-items: center;
}

.column-home {
  width: 400px;
  position: relative;
  p {
    position: absolute;
    bottom: 12px;
    left: 50px;
    width: 70%;
  }
}

.row-popular {
  display: flex;
}

.column-popular {
  flex: 50%;
  padding: 24px;

}

.move-right {
  padding-left: 62px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 56px;
}

.card-category {
  background-size: cover;
  position: relative;
  background-color: white;
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.banner {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
  margin: 20px;
  margin-bottom: 160px;
  // margin: 5px;
}

.course-list-home {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}

.course-list-recent {
  display: flex;
  justify-items: center;
  margin: 10px;
  align-items: center;
}

.course-list-popular {
  display: flex;
  justify-items: center;
  margin: 10px;
  align-items: center;
}

.top-courses {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Roboto';
  align-self: center;
  margin-top: 60px;
}

.row-home-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width:100vw;
  margin-left:0 !important;
  // margin: 5px;
}

ul {
  list-style-type: none;
}

.post-row {
  display: flex;
  padding-left:0 !important;
}

.post-row > .post {
 width:600px;
 margin-right:20px;
}
.post-row  div.post-top {
 width: 568px;

}

.post {
  margin: 10px;
}

.bottom-home{
  padding: 20px 90px 100px;
}
