
.home-body{
  background: linear-gradient(180deg,  #FFEDE3, #FFF5F0, $my-lilac, #FFF5F0,  #FFEDE3,);
  background-size: 1600% 1600%;
  animation: sunrise 20s ease infinite;}

.home-welcome{
  font-size: 50px;
  font-weight: 600;
  font-family: 'Roboto';
}
  @keyframes sunrise {
  0% {
    background-position:  50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position:  50% 0%;
  }
}



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba(1,1,1,0.2) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity:  1 !important;
  color: rgba(1,1,1,0.2) !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity:  1 !important;
  color: rgba(1,1,1,0.2) !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(1,1,1,0.2) !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(1,1,1,0.2) !important;
}

::placeholder { /* Most modern browsers support this now. */
  color: rgba(1,1,1,0.2) !important;
}

.home {
  padding: 75px;
}

.home > p {
  margin-top:20px;
  margin-bottom:20px;

}

.searchbox {
  background-color:white;
  border-color: white;
}

.search-bar {
  // padding:5px;
  background-color:white;
  display:flex;
  justify-content:space-between;

}

.searchbox:focus {
  // padding:5px;

  background-color: solid white !important;

}

.row-home {
  display: flex;
  align-items: center;
  padding: 48px 0px;
}

.column-home {
  width: 400px;
}

.row-popular {
  display: flex;
  align-items: center;
  padding: 96px 0px;
}

.column-popular {
  flex: 50%;
  padding: 5px;

}

.move-right {
  padding-left: 62px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 56px;
}

.card-category {
  background-size: cover;
  position: relative;
  background-color: white;
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  // z-index: 1;
}