.teams {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 72px;
  margin:25px 300px 100px 300px;
}

.teams-options {
  margin: 0 300px 100px 300px;
  padding:10px;
}

.card-teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  cursor: default;
  padding:15px;
  overflow: hidden;
  background: white;
  height: 200px;
  box-shadow:var(--box-shadow);
  color: #0E3959;
  border-radius: 5px;
  &:hover {
    transform: scale(1.1);
    transition-duration:0.3s;
  }
  .btn-join {
    align-self: flex-end;
  }
}

.list-inline {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list-inline-item {
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.list-inline-item-color-1 {
  color: $rand-dark-1;
  background-color: $rand-pastel-1;
    border: 1px solid rgba($rand-dark-1, 0.3);
}

.list-inline-item-color-2 {
  color: $rand-dark-2;
  background-color: $rand-pastel-2;
    border: 1px solid rgba($rand-dark-2, 0.3);
}

.list-inline-item-color-3 {
  color: $rand-dark-3;
  background-color: $rand-pastel-3;
    border: 1px solid rgba($rand-dark-3, 0.3);
}

.list-inline-item-color-4 {
  color: $rand-dark-4;
  background-color: $rand-pastel-4;
    border: 1px solid rgba($rand-dark-4, 0.3);
}

#team-participants img {
      width:30px;
      height:30px;
      display:inline-block;
      border-radius:100rem;
      margin:0 .2rem;
    }

#team-participants-lg {
  margin-right:20px;
}
#team-participants-lg img {
      width:75px;
      height: 75px;
      display:inline-block;
      border-radius:100rem;
      margin:0 .2rem;
    }
