<div class="text-center flex">
    <div class="container-fluid text-center">
      <i class="pr-2 socmed fab fa-facebook-f"></i>
      <i class="pr-2 socmed fab fa-twitter"></i>
      <i class="pr-2 socmed fab fa-instagram"></i>
      <i class="pr-2 socmed fas fa-envelope"></i>
      <div><p>© 2021 Educity - Adding accountability through community</p></div>
    </div>
</div>


