
<div class="footer">
  <%# <%= render 'shared/logo' %>
  <div class="text-center flex">
    <span id= "logo" >Educity</span>

    <figure>
      <blockquote class="blockquote">
        <p>Adding Accountability Through Community</p>
      </blockquote>
     <figcaption class="blockquote-footer">Educity</figcaption>
    </figure>
    <div class="footer-copyright">
      <p>&copy;Educity 2021</p>
    </div>
  </div>
</div>
