<body class="home-body">
<div class = "home">
    <div class="d-flex align-items-center justify-content-between">
     <div>
        <h1 class="home-welcome">Welcome to Educity,</h1>
        <h1 class="home-welcome">the Learners' Community</h1>
        <p>What would you like to <strong>study <em>socially</em></strong>?</p>

    </div>
    <%= image_tag 'home_image-1', width: 500 %>
</div>
<div class="row-home">
  <div class="column-home text-center">
     <%= image_tag 'home_image-2', width: 300, height: 300 %>
     <p><strong>Find Your Team</strong></p>
  </div>
  <div class="column-home text-center">
     <%= image_tag 'home_image-3', width: 300, height: 300 %>
     <p class="move-right"><strong>Keep Track Of Your Courses</strong></p>
  </div>
  <div class="column-home text-center">
     <%= image_tag 'home_image-4', width: 300, height: 300 %>
     <p><strong>Follow Other Courses</strong></p>
  </div>
</div>


</body>
