<div class="courses-container">

<ul>
  <% @courses.each do |course| %>
    <div class="post">


      <li>
        <p class ="post-cat"><%= course.category %> </p>
        <h3 class="post-text"><%= course.title %> on <%= course.platform.capitalize %></h3>
        <p class ="post-link">See <strong><%= link_to 'here', course.url, class: "weblink",  target: :_blank %></strong> for more details.</p>

      </li>

    </div>

  <% end %>
</ul>

</div>
