<div class="courses-container">

<ul>
  <% @courses.each do |course| %>
    <div class="post">


      <li>
        <p class ="post-cat"><%= course.category %> </p>
        <p class="post-text"><%= course.title %> on <%= course.platform.capitalize %></p>
        <p class ="post-link">See <strong><%= link_to 'here', course.url, class: "weblink" %></strong> for more details.</p>

      </li>

    </div>

  <% end %>
</ul>

</div>
