.btn {
  border-radius: 50px;
  padding: 7px 32px;
}

.btn-primary {
  color: $my-navy;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.btn-round {
  width: 32px;
  height: 32px;
  padding: 32px;
  line-height: 3px;
  border-radius: 100%;
}
