
.calh3 {
  margin: 0 100px 0 0  !important;
  bottom:0 !important;
  align-self: flex-end;

}
.calendar-heading {
  font-weight:600;
  margin-bottom:26px;
  display:flex;
  justify-content: space-between;
}
.travel {
  margin:0 40px;
  color:$my-navy;
  background-color: $light-gray;
  font-size: 20px;
  font-weight:600;
  padding: 3px 12px;
  border: 2px solid $my-navy;
  &:hover{
    background-color: $light-gray;
    border: 3px solid $my-navy;

  }
}
.simple-calendar {
  margin-left: 40px;
  table {
    max-height: 60vh !important;
    border-color: white !important;
    background-color:white !important;
  }

  td {
    width:50px !important;
    height:60px !important;
    border-color: white !important;
    text-align:center;
  }
  th {
    border-color: white !important;

  }

  .today {
    background-color: $my-green !important;
  }
}

.meeting {
  margin:5px;
  p{
    font-size:12px;
  }
  color: $my-navy;
  padding: 8px 6px ;
  border-radius: 50%;
  background: $my-lilac;
  transition: background 0.3s ease;
  width:5px;
  height:5px;

}

#Codecademy.meet-deets {
  background: $my-lilac !important;
  border:none;
}

#Udemy.meet-deets {
  background: #ffeff9 !important;
    border:none;
}
#Coursera.meet-deets {
  background: $my-blue !important;
    border:none;
}



#Codecademy.meeting {
  background: $codecademy !important;
  }

#Udemy.meeting {
  background: $udemy !important;
}

#Coursera.meeting {
  background: $coursera !important;

}


a:hover {
  text-decoration: none !important;

}
.simple-calendar .prev-month {
    background: $my-blue !important;
}

.simple-calendar .day {
    background: white;
}

.simple-calendar .next-month {
    background: $my-blue !important;
}

div#meetings {
  display:flex;
  flex-direction: row;
  justify-content:center;
}

.meet-deets {
  text-align: center;
vertical-align: middle;

  border-radius:10px;
  color:$my-navy;
  background-color:$my-blue;
  width:535px;
  padding: 16px;
  margin-left:50px;
  margin-bottom:10px;
  display: flex;
  justify-content:space-between;

}
.meet-deets:hover{
    background-color: darken($my-blue, 5%) !important;
    transform: scale(1.025);
    transition-duration:0.3s;
  }
.day-meet {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  font-size:18px;
  #daynum{
  font-weight: 600;

}
}

.meet-list {
  height:350px;
  overflow:scroll;
}
