
.calh3 {
  margin: 0 100px 0 0  !important;
  bottom:0 !important;
  align-self: flex-end;

}
.calendar-heading {
  font-weight:600;
  margin-bottom:20px;
  display:flex;
  justify-content: space-between;
}
.travel {
  margin:0 40px;
  color: $my-navy;
  font-size: 20px;
  font-weight:600;
}
.simple-calendar {
  margin-left: 40px;
  table {
    max-height: 60vh !important;
    border-color: white !important;
    background-color:white !important;
  }

  td {
    width:100px !important;
    border-color: white !important;
    text-align:center;
  }
  th {
    border-color: white !important;

  }

  .today {
    background-color: $my-mustard !important;
  }
}

.meeting {
  p{
    font-size:12px;
  }
  color: $my-navy;
  padding: 8px 24px;
  border-radius: 5px;
  background: $my-lilac;
  transition: background 0.3s ease;

}

#Codecademy.meeting {
  background: $my-lilac !important;
    &:hover p.course-title {
      font-weight:600 !important;

  }

}
#Udemy.meeting {
  background: lighten($udemy, 40%) !important;
  &:hover p.course-title {
      font-weight:600 !important;

  }
}
#Coursera.meeting {
  background: $my-blue !important;
    &:hover p.course-title {
      font-weight:600 !important;

  }
}




a:hover {
  text-decoration: none !important;

}
.simple-calendar .prev-month {
    background: $my-blue !important;
}

.simple-calendar .day {
    background: white;
}

.simple-calendar .next-month {
    background: $my-blue !important;
}

