.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
}


#course_category_technology + label {
  color: #3A10E5;
}

#course_category_technology:checked + label {
  background-color: #3A10E5;
  border-color: #3A10E5;
}


#course_category_visual_art_and_design + label {
  color: #33AACC;
}

#course_category_visual_art_and_design:checked + label {
  background-color: #33AACC;
  border-color: #33AACC;
}


#course_category_personal_and_lifestyle + label {
  color: #0062e4;
}

#course_category_personal_and_lifestyle:checked + label {
  background-color: #0062e4;
  border-color: #0062e4;
}

#course_category_music + label {
  color: #62DDF5;
}

#course_category_music:checked + label {
  background-color: #62DDF5;
  border-color: #62DDF5;
}


#course_category_language + label {
  color: #0073b1;
}

#course_category_language:checked + label {
  background-color: #0073b1;
  border-color: #0073b1;
}
