.footer {
    background:my-neutral;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    bottom: 0;
  }

  footer > p {
    margin: 2rem;
  }

  footer i {
    vertical-align: middle;
  }

  .footer-links {
    display: flex;
    align-items: center;
  }

  .footer-links a {
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }

  .footer-link {
    font-size: 25px;
    color:#E4DE5F;
    text-decoration: none;
    &:hover {
      color:#F9F7CF;
    }
  }

  .flex {
    display: flex;
    justify-content: center;
  }

  .text-center {
   text-align: center;
  }
