.navbar-lewagon {
  justify-content: space-between;
  background: my-neutral;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand  {
  font-size: 36px;
}

#logo {
  color: #E4DE5F;
  font-family: Rosario;
  font-weight: bold;
}
