.navbar-lewagon {
  justify-content: space-between;
  height: 60px;
  padding: 8px 16px;


  background-color: transparent;
  transition: 0.2s background-color ease;


  position: fixed;
  width: 100%;
  z-index: 100;
  display:flex;
  align-items:center;
}

.navbar-lewagon-white {
  background-color:  white;
  box-shadow: var(--box-shadow);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo {
  color: $my-mustard;
  font-family: Rosario, sans-serif;
  font-weight: bold;
}

.navbar-lewagon #logo {
  font-size: 30px;
}
