.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.input {
    padding: 10px;
    width: 350px;
    height: 40px;
    background: none;
    border: 2px solid $my-navy;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Rosario;
    font-size: 20px;
    color: white !important;
    outline: none;
    // transition: .5s;
}
.box:hover input{
    width: 400px;
    // background: $my-navy;
    border: 2px solid $my-navy !important;
    border-radius: 10px;
    transition: .5s;
}

input:focus {
border: solid white !important;
}
.box > i{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: $my-navy;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

