// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

$my-yellow:#F9F7CF;
$my-mustard: #E4DE5F;
$my-lilac: #EAE7FD;
$my-green: #DBF1C5;
$my-blue: #DAECF9;
$my-navy: #0E3959;
$my-neutral: #F9F9F9;

