// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/teams";
@import "components/buttons";

:root{
--box-shadow: 5px 10px 5px  rgba(100,100,100, 0.1);
}

body {
  font-weight:300;
}

h3 {
  font-family: Roboto;
  font-size: 24px;
}
